<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>OIDC Relying Party SpringBoot Example</title>
		<style>
			pre {
				white-space: pre-wrap;       /* Since CSS 2.1 */
				white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
				white-space: -pre-wrap;      /* Opera 4-6 */
				white-space: -o-pre-wrap;    /* Opera 7 */
				word-wrap: break-word;       /* Internet Explorer 5.5+ */
			}
		</style>
	</head>
	<body>
		<h3>OIDC Relying Party SpringBoot Example</h1>

		<div th:if="${onlyJwks}">
			<p>Before continue, put generated Federation jwk into '<span th:text="${configFile}" />'</p>
			<p>
				<pre th:text="${fedJwks}" />
			</p>
			<p>the Core Sig and Enc jwks into '<span th:text="${configCoreFile}" />'</p>
			<p>
			<pre th:text="${coreJwks}" />
			</p>
			<p>then make the app <a th:href="@{/reload-handler}"> reload </a> it.</p>
		</div>

		<div th:if="${intermediate}">
			<style>
				table, tr, td {
					border: 1px solid black;
					border-collapse: collapse;
				}
				td {
					padding: 5px;
				}
			</style>
			<p>You have to complete Federation on-boarding. Use these values:
			<table>
				<tr>
					<td>Name</td>
					<td><span th:text="${rpName}" /></td>
				</tr>
				<tr>
					<td>Subject</td>
					<td><span th:text="${rpClientId}" /></td>
				</tr>
				<tr>
					<td>jwks</td>
					<td><pre th:text="${rpPublicJwks}" /></td>
				</tr>
			</table>
			</p>
			<p>then put "Federation TrustMarks" into '<span th:text="${configFile}" />' and make the
			app <a th:href="@{/reload-handler}"> reload </a> it.</p>
		</div>

		<p>Choose you way
			<ul>
				<li th:if="${showLanding}">Relying Party <a th:href="@{/oidc/rp/landing}">login</a> page</li>
				<li th:if="${showLanding || intermediate}">Relying Party <a th:href="@{/oidc/rp/.well-known/openid-federation?format=json}" target="_blank">.well-known</a> endpoint</li>
				<li>Federation <a th:href="@{'http://' + ${trustAnchorHost} +':8000/admin/'}" target="_blank">federation</a> admin page</li>
				<li>Federation <a th:href="@{'http://' + ${trustAnchorHost} + ':8000/onboarding/landing'}" target="_blank">federation</a> on-boarding page</li>
			</ul>
		</p>
	</body>
</html>
