<!-- Extends default Bootstrap Unical Italia template -->
<!DOCTYPE html>
<html lang="it">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Page details -->
    <title>OIDC Relying Party JAVA - Privacy Policy</title>
    <meta name="description" content="Bootstrap Italia">
    <meta name="keywords" content="Bootstrap Italia">
    <meta name="robots" content="all"/>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap-italia.min.css">
    <!-- Fonts -->
    <script>
        window.__PUBLIC_PATH__ = "/static/fonts"
    </script>
    <!-- Javascript -->
    <script src="/static/js/bootstrap-italia.bundle.min.js"></script>
    <!-- Extra CSS/Javascript -->
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="icon" href="/static/images/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/static/images/favicon-16x16.png" sizes="16x16" type="image/png">
    <link type="text/css" rel="stylesheet" href="/static/css/access-button.css">
</head>
<body>
<div class="it-header-wrapper">
    <!-- Top row in header -->
    <div class="it-header-slim-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="it-header-slim-wrapper-content">
                        <a class="d-none d-lg-block navbar-brand" href="https://www.spid.gov.it/"> OIDC Relying Party
                            JAVA </a>
                        <div class="nav-mobile">
                            <nav>
                                <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu-principale"
                                   role="button" aria-expanded="false" aria-controls="menu-principale">
                                    <span>OIDC Relying Partyi JAVA</span>
                                </a>
                            </nav>
                        </div>
                        <div class="header-slim-right-zone">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                   aria-expanded="false">
                                    <span>ITA</span>
                                    <svg class="icon d-none d-lg-block">
                                        <use xlink:href="/static/svg/sprite.svg#it-expand"></use>
                                    </svg>
                                </a>
                                <div class="dropdown-menu">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="link-list-wrapper">
                                                <ul class="link-list">
                                                    <li>
                                                        <a class="list-item" href="#">
                                                            <span>ITA</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="list-item" href="#">
                                                            <span>ENG</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="it-access-top-wrapper">
                                <button class="btn btn-primary btn-sm" href="#" type="button">Accedi</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="it-nav-wrapper">
        <div class="it-header-center-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="it-header-center-content-wrapper">
                            <!-- Logo -->
                            <div class="it-brand-wrapper">
                                <a href="#">
                                    <div class="it-brand-text">
                                        <h2 class="no_toc">
                                            <a href="/oidc/rp/landing">OIDC Relying Party JAVA</a>
                                        </h2>
                                        <h3 class="no_toc d-none d-md-block"></h3>
                                    </div>
                                </a>
                            </div>
                            <!-- Social and Search -->
                            <div class="it-right-zone">
                                <div class="it-socials d-none d-md-flex">
                                    <span>Seguici su</span>
                                    <ul>
                                        <li>
                                            <a href="#" aria-label="Facebook" target="_blank">
                                                <svg class="icon">
                                                    <use xlink:href="/static/svg/sprite.svg#it-facebook"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" aria-label="Github" target="_blank">
                                                <svg class="icon">
                                                    <use xlink:href="/static/svg/sprite.svg#it-github"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" aria-label="Twitter">
                                                <svg class="icon">
                                                    <use xlink:href="/static/svg/sprite.svg#it-twitter"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="it-search-wrapper">
                                    <span class="d-none d-md-block"> Cerca </span>
                                    <a class="search-link rounded-icon" href="#" aria-label="Cerca">
                                        <svg class="icon">
                                            <use xlink:href="/static/svg/sprite.svg#it-search"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main menu -->
    </div>
</div>
<!-- Container - Body of page-->
<div class="main-body">
    <div>
        <div class="container pt-2 p-3">
            <div class="row d-lg-flex">
                <div class="col-12">
                    <div class="card-wrapper card-space">
                        <div class="card card-bg no-after">
                            <div class="card-body pl-lg-0">
                                <div class="row h-100">
                                    <div class="col-12 pl-lg-4">
                                        <div class="row p-3">
                                            <h3 class="text-left"> Privacy Policy - Information on the processing of
                                                personal data </h3>
                                            <p class="card-title">
                                                <em>pursuant to articles 13 and 14 of Regulation (EU) 2016/679 of the
                                                    European Parliament and of the Council .</em></p>
                                        </div>
                                        <div class="row p-3">
                                            This page describes how the personal data of users who consult this website
                                            are processed. The information provided does not concern other sites, pages
                                            or online services accessible via hypertext links referring to resources
                                            external to the domain of this website.
                                            <ul>
                                                <li><strong>Owner of the processing of personal data</strong>:
                                                <ul>
                                                    <li>The Controller - Tal dei tali street </li>
                                                    <li>DPO: dpo@controller.example</li>
                                                </ul>
                                            <li><strong>Italian Data Protection Authority</strong>:
                                                <ul>
                                                    <li><strong>Garante per la protezione dei dati personali</strong> </li>
                                                    <li>Website: <a href="https://www.garanteprivacy.it">https://www.garanteprivacy.it</a></li>
                                                </ul>
                                            </li>
                                            </ul>
                                        </div>
                                        <div class="row p-3"><h4>Categories and sources of personal data, purposes and
                                            legal basis of processing
                                            Browsing data</h4>

                                            The computer systems and software procedures used to operate the site
                                            acquire, during their normal operation, some personal data whose
                                            transmission is implicit in the use of internet communication protocols
                                            (e.g.: personal data acquired through access logs to the site). These data
                                            are processed for the technical management of the website and for the
                                            collection of analytical data on the related traffic.
                                        </div>
                                        <div class="row p-3"><h4>Cookies and other tracking systems</h4>

                                            <p>Cookies are small fragments of text that the website sends to the user's
                                                browser, where they are stored before being re-transmitted to the site
                                                on the next visit.</p>
                                            <p>This site uses technical session cookies and analytical cookies aimed at
                                                collecting information, in aggregate form, on the number of users and
                                                how they visit the site.</p>
                                            <p>In order to respect the privacy of our users, the IP addresses of those
                                                who browse the website are made anonymous. The site uses the external
                                                service Hotjar , whose privacy policy is available .</p>
                                            <p>The cookies used by the site do not allow identification or profiling of
                                                the user, who can always choose to enable or disable cookies by changing
                                                the settings of their browser according to the instructions made
                                                available by the relevant suppliers at the links indicated below:
                                            <ul>
                                                <li> Chrome</li>
                                                <li> Firefox</li>
                                                <li> Safari for mobile devices</li>
                                                <li> Safari</li>
                                                <li> Internet Explorer</li>
                                                <li> Edge</li>
                                                <li> Opera</li>
                                            </ul>
                                            </p>
                                        </div>
                                        <div class="row p-3">
                                            <h4>Data provided by the user</h4>

                                            Access to the platform with SPID technology involves the acquisition of all
                                            data explicitly authorized by the user during the authentication procedure:
                                            name, surname, tax code, SPID code.

                                            In addition to these data, registration also requires the indication of a
                                            contact email address, entered directly by the user.

                                            Such data, the failure to indicate which does not allow registration with
                                            our platform, are processed for the sole purpose of supporting the member's
                                            authentication and authorization functions.

                                            Sending messages to the Controller's contact addresses and institutional
                                            profiles on social media involves the acquisition of all personal data
                                            voluntarily included by the sender in the text of their communication,
                                            processed for the sole purpose of providing the requested feedback.

                                            The legal basis of the processing is identified in the execution of tasks of
                                            public interest or connected to the exercise of public institutional powers
                                            assigned to the Controller.
                                        </div>
                                        <div class="row p-3"><h4>Categories of recipients of personal data</h4>

                                            the Controller will process personal data independently through its staff.
                                            The suppliers of technical and telematic services, designated as data
                                            controllers, are also recipients of personal data.

                                            the Controller does not transfer any personal data to third countries or
                                            international organisations.
                                        </div>
                                        <div class="row p-3"><h4>Personal data retention period</h4>

                                            Browsing data is not kept for more than 30 days from the time of collection,
                                            without prejudice to any need for the investigation of crimes by the
                                            judicial authority.

                                            The personal data provided by users are retained for 30 days following the
                                            cancellation of the user.
                                        </div>
                                        <div class="row p-3"><h4>User rights</h4>

                                            Interested parties have the right to obtain from the Controller access to
                                            their personal data, the rectification or cancellation of the same, the
                                            limitation of the related processing, the right to object and the right to
                                            data portability, where the conditions are met. Requests should be addressed
                                            to the Controller by contacting the DPO at the address indicated above.

                                            Without prejudice to any other administrative or jurisdictional appeal,
                                            interested parties have the right to lodge a complaint with the Guarantor
                                            for the protection of personal data if they believe that the processing of
                                            their data violates the Regulation.

                                            the Controller guarantees that no form of exclusively automated
                                            decision-making process is envisaged which entails legal effects on the
                                            interested party.


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/spid-sp-access-button.js"></script>
        <script src="/static/js/spid_button.js"></script>
    </div>
    <!-- Footer -->
    <footer class="it-footer">
        <div class="it-footer-main">
            <div class="container">
                <section>
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="it-brand-wrapper">
                                <a href="#">
                                    <div class="it-brand-text">
                                        <h2 class="no_toc"> OIDC Relying Party JAVA </h2>
                                        <h3 class="no_toc d-none d-md-block"> OIDC Relying Party JAVA </h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Footer middle section with menu blocks -->
                <!-- Footer bottom section with contacts -->
                <section class="py-4 border-white border-top">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 pb-2">
                            <h4>
                                <a href="#" title="Vai alla pagina: Contatti">Contatti</a>
                            </h4>
                            <p>
                                <strong>Comune di Lorem Ipsum</strong>
                                <br> Via Roma 0 - 00000 Lorem Ipsum Codice fiscale / P. IVA: 000000000
                            </p>
                            <div class="link-list-wrapper">
                                <ul class="footer-list link-list clearfix">
                                    <li>
                                        <a class="list-item" href="#"
                                           title="Vai alla pagina: Posta Elettronica Certificata">Posta Elettronica
                                            Certificata</a>
                                    </li>
                                    <li>
                                        <a class="list-item" href="#"
                                           title="Vai alla pagina: URP - Ufficio Relazioni con il Pubblico">URP -
                                            Ufficio Relazioni con il Pubblico</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 pb-2">
                            <h4>
                                <a href="#" title="Vai alla pagina: Lorem Ipsum">Lorem Ipsum</a>
                            </h4>
                        </div>
                        <div class="col-lg-4 col-md-4 pb-2">
                            <div class="pb-2">
                                <h4>
                                    <a href="#" title="Vai alla pagina: Seguici su">Seguici su</a>
                                </h4>
                                <ul class="list-inline text-left social">
                                    <li class="list-inline-item">
                                        <a class="p-2 text-white" href="#" target="_blank">
                                            <svg class="icon icon-sm icon-white align-top">
                                                <use xlink:href="/static/svg/sprite.svg#it-designers-italia"></use>
                                            </svg>
                                            <span class="sr-only">Designers Italia</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="p-2 text-white" href="#" target="_blank">
                                            <svg class="icon icon-sm icon-white align-top">
                                                <use xlink:href="/static/svg/sprite.svg#it-twitter"></use>
                                            </svg>
                                            <span class="sr-only">Twitter</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="p-2 text-white" href="#" target="_blank">
                                            <svg class="icon icon-sm icon-white align-top">
                                                <use xlink:href="/static/svg/sprite.svg#it-medium"></use>
                                            </svg>
                                            <span class="sr-only">Medium</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a class="p-2 text-white" href="#" target="_blank">
                                            <svg class="icon icon-sm icon-white align-top">
                                                <use xlink:href="/static/svg/sprite.svg#it-behance"></use>
                                            </svg>
                                            <span class="sr-only">Behance</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="pb-2">
                                <h4>
                                    <a href="#" title="Vai alla pagina: Newsletter">Newsletter</a>
                                </h4>
                                <p>Form Newsletter</p>
                                <!--<form action="#" method="post"><label for="input-newsletter" class="active">Iscriviti per riceverla</label><div class="input-group"><div class="input-group-prepend"><div class="input-group-text">@</div></div><input type="text" class="form-control" id="input-newsletter" name="input-newsletter" placeholder="Scrivi il tuo indirizzo email" ><div class="input-group-append"><button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button></div></div><button class="btn btn-default pull-right" type="submit">Iscriviti</button></form>-->
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="it-footer-small-prints clearfix">
            <div class="container">
                <h3 class="sr-only">Sezione Link Utili</h3>
                <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
                    <li class="list-inline-item">
                        <a href="#" title="Note Legali">Media policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Note Legali">Note legali</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Privacy-Cookies">Privacy policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" title="Mappa del sito">Mappa del sito</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function() {
            $('.it-date-datepicker').datepicker({
                inputFormat: ["dd/MM/yyyy"],
                outputFormat: "dd/MM/yyyy",
            });
        });
    </script>
</body>
</html>